<section id="services">
  
    <div class="container">
      
      <h1 id="heading">SAMPLES</h1>
      <br>
      <h2>My Recent Work</h2>
      <br>
      <p>Here are a few projects I've worked on recently. Want to see more? <a href = "mailto: adarsh.lol2425@gmail.com">Email me</a> </p>
    <br>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="
            https://drive.google.com/uc?export=view&id=1QvKHI6pSkOYELeGVDaKuDsTAFz_QGANY" class="card-img-top" alt=""/>
            <div class="card-body">
              <h5 class="card-title" id="todo">To-Do List Website  </h5>
              <p class="card-text">
                Used HTML5, CSS3, Bootstrap and Javascript
              </p>
              
              <!-- <a href="#" class="btn btn-transparent stretched-link"></a> -->
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="
            https://drive.google.com/uc?export=view&id=1bYCAhj9Xb_Od6m-EuIHvbJJjzRBl9kHB" class="card-img-top" alt=""/>
            <div class="card-body">
              <h5 class="card-title" id="tourism"> Kerala Tourism Website </h5>
              <p class="card-text">
                Used HTML5, CSS3, Bootstrap and Javascript
              </p>
              <!-- <a href="#" class="btn btn-transparent stretched-link"></a> -->
            </div>
          </div>
        </div>
        
          
      </div>
        
      </div>
  
  </section>