
<nav class="navbar sticky-top navbar-expand-lg  bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid ">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#menuItems"
        aria-controls="menuItems"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse "
        id="menuItems"
      >
       <a class="navbar-brand  "  routerLink="" id="title" routerLinkActive="active">Portfolio</a>
        <!-- Left links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          
          <li  class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active">ABOUT</a>
          </li>
          <li  class="nav-item">
            <a class="nav-link" routerLink="samples" routerLinkActive="active">SAMPLES</a>
          </li>
          
          <li  class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active">CONTACT</a>
          </li>
          
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
