<section id="testimony">
  <div class="container mt-5 mb-5">
    <h1>Testimonials</h1>
    <br>
    <div class="d-flex justify-content-center row">
        <div class="col-md-9">
            <div id="carousel-1" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="border rounded">
                            <div class="row no-gutters">
                                <div class="col-md-5"><img class="img-fluid profile" src="https://source.unsplash.com/pAtA8xe_iVM" height="300"></div>
                                <div class="col-md-7">
                                    <div class="bg-white p-2 px-3 testimonials">
                                        <p id="para" class="text-justify d-flex flex-column align-items-center"> "ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua" </p>
                                        <p class="text-justify d-flex flex-column align-items-center"><span class="font-weight-bold percentage text-success">-Jake-</span></p>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="border rounded">
                            <div class="row no-gutters">
                                <div class="col-md-5"><img class="img-fluid profile" src="https://source.unsplash.com/HfMCgqOLTyM" height="300"></div>
                                <div class="col-md-7">
                                    <div class="bg-white p-2 px-3 testimonials">
                                        <p id="para" class="text-justify d-flex flex-column align-items-center"> "ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua" </p>

                                        <p class="text-justify d-flex flex-column align-items-center"><span class="font-weight-bold percentage text-success">-Jim Hopper-</span></p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="border rounded">
                            <div class="row no-gutters">
                                <div class="col-md-5"><img class="img-fluid profile" src="https://source.unsplash.com/7uoMmzPd2JA" height="300"></div>
                                <div class="col-md-7">
                                    <div class="bg-white p-2 px-3 testimonials">
                                        <p id="para" class="text-justify d-flex flex-column align-items-center"> "ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua" </p>
                                        <p class="text-justify d-flex flex-column align-items-center"><span class="font-weight-bold percentage text-success">-Thomas-</span></p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      
</section>

