   
    <section id="landingpage">
      <div class="container">
      <div class="portfoliohome">
        <h1>I'm Adarsh S</h1>
        <p>This is my official portfolio website to show all <br>
        details and work experience in MEAN Stack</p>
      <a href="">HIRE ME</a>
      </div>
      <div class="images">
        <img src="https://drive.google.com/uc?export=view&id=1AgUE_zPpnP1R0ye9RaZVknu24yPC50Gc" alt="" class="globe img-fluid">
        <!-- <img src="https://drive.google.com/uc?export=view&id=1L-xGB2STLWkjl1j94htynot0plKQbmks" alt="" class="man img-fluid"> -->
        
      </div>
    </div>
    </section>

    <app-services-section></app-services-section>

    <app-testimony></app-testimony>

    <h3>Get in touch => <span> adarsh2425@gmail.com </span></h3>
   
     


    
